{% extends 'base.html' %}
{% load static %}


{% block active_shop %}<li class="active"><a href="{% url 'shop' %}">Shop</a></li>{% endblock active_shop %}
{% block content %}


<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <form action="updaterecord/{{ id }}" method="POST">
                        {% csrf_token %}
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Products</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td class="shoping__cart__item">
                                            <img src="data:image/jpg;base64,{{image}}" alt="">
                                            <h5>{{ name }}</h5>
                                        </td>
                                        <td class="shoping__cart__price">
                                            {{ price }} TND
                                        </td>
                                        <td class="shoping__cart__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input name="quantity" type="text" value="{{ quantity }}">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="shoping__cart__item__close">
                                            <a href="{% url 'delete' id=id %}"><span class="icon_close"></span></a>
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                        <div class="shoping__cart__btns pt-4">
                            <a href="{% url 'shop' %}" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                            <input type="submit" value="Update cart">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->

{% block cart_icon %}
{% endblock %}

<script>
    console.log('salem')
</script>

{% endblock content %}